@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Prevent horizontal overflow on the whole page */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}